.card-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    color: #fff;
}

.card h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px; 
}
