.rectangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #eb7100;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.rectangle3-container, .rectangle32-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid #eb7100;
    padding: 2px;
    border-radius: 10px;
}

.asd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.music-player {
    display: flex;
    align-items: center;
}

.music-player img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.song-info {
    flex-grow: 1;
}

.song-title {
    font-size: 24px;
    color: #eb7100;
    margin: 0;
}

.song-details {
    font-size: 16px;
    color: gray;
    margin: 0;
}
